---
http_interactions:
- request:
    method: get
    uri: https://xecdapi.xe.com/v1/historic_rate/period.json?end_timestamp=2018-12-01T23:59:59%2B00:00&from=PHP&interval=daily&page=6&per_page=100&start_timestamp=2018-01-01T00:00:00%2B00:00&to=USD,KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <auth_header>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Remaining:
      - '899'
      X-Ratelimit-Reset:
      - '1593498600'
      X-Raterequest-Limit:
      - '10000'
      X-Raterequest-Remaining:
      - '7766'
      X-Raterequest-Reset:
      - '1593561600'
    body:
      encoding: UTF-8
      string: '{"terms":"http://www.xe.com/legal/dfs.php","privacy":"http://www.xe.com/privacy.php","from":"PHP","amount":1.0}'
  recorded_at: Tue, 30 Jun 2020 06:25:58 GMT
- request:
    method: get
    uri: https://xecdapi.xe.com/v1/historic_rate/period.json?end_timestamp=2018-12-01T23:59:59%2B00:00&from=PHP&interval=daily&page=1&per_page=100&start_timestamp=2018-01-01T00:00:00%2B00:00&to=USD,KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <auth_header>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Remaining:
      - '898'
      X-Ratelimit-Reset:
      - '1593498600'
      X-Raterequest-Limit:
      - '10000'
      X-Raterequest-Remaining:
      - '7766'
      X-Raterequest-Reset:
      - '1593561600'
    body:
      encoding: UTF-8
      string: '{"terms":"http://www.xe.com/legal/dfs.php","privacy":"http://www.xe.com/privacy.php","from":"PHP","amount":1.0,"to":{"KRW":[{"mid":21.3228317122,"timestamp":"2018-01-01T00:00:00Z"},{"mid":21.3126357503,"timestamp":"2018-01-02T00:00:00Z"},{"mid":21.3087527086,"timestamp":"2018-01-03T00:00:00Z"},{"mid":21.3711047317,"timestamp":"2018-01-04T00:00:00Z"},{"mid":21.2929106066,"timestamp":"2018-01-05T00:00:00Z"},{"mid":21.3098912701,"timestamp":"2018-01-06T00:00:00Z"},{"mid":21.3104756135,"timestamp":"2018-01-07T00:00:00Z"},{"mid":21.3043624043,"timestamp":"2018-01-08T00:00:00Z"},{"mid":21.2854020188,"timestamp":"2018-01-09T00:00:00Z"},{"mid":21.2997372665[...]
