---
http_interactions:
- request:
    method: get
    uri: https://xecdapi.xe.com/v1/convert_from.json?amount=201.52&from=USD&to=PHP,KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <auth_header>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - 67a3b89c-8f51-4d47-b661-d7ea4f4202b9
      Last-Modified:
      - Thu, 11 Aug 2016 01:30:20 UTC
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Remaining:
      - '899'
      X-Ratelimit-Reset:
      - '1470879900'
    body:
      encoding: UTF-8
      string: '{"terms":"http://www.xe.com/legal/dfs.php","privacy":"http://www.xe.com/privacy.php","from":"USD","amount":201.52,"timestamp":"2016-08-11T01:30:00Z","to":[{"quotecurrency":"PHP","mid":9414.5829390505},{"quotecurrency":"KRW","mid":221201.673707476}]}'
  recorded_at: Thu, 11 Aug 2016 01:30:37 GMT
recorded_with: VCR 3.0.3
