---
http_interactions:
- request:
    method: get
    uri: https://xecdapi.xe.com/v1/convert_from.json?amount=201.52&from=USD&to=PHP,KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <auth_header>
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - 32da37dd-94c1-4468-b74a-b158b42e06df
      Last-Modified:
      - Tue, 30 Jun 2020 05:58:00 UTC
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Remaining:
      - '897'
      X-Ratelimit-Reset:
      - '1593496800'
      X-Raterequest-Limit:
      - '10000'
      X-Raterequest-Remaining:
      - '7802'
      X-Raterequest-Reset:
      - '1593561600'
    body:
      encoding: UTF-8
      string: '{"terms":"http://www.xe.com/legal/dfs.php","privacy":"http://www.xe.com/privacy.php","from":"USD","amount":201.52,"timestamp":"2020-06-30T05:58:00Z","to":[{"quotecurrency":"KRW","mid":242283.9183313636},{"quotecurrency":"PHP","mid":10042.121711579}]}'
  recorded_at: Tue, 30 Jun 2020 05:58:20 GMT
recorded_with: VCR 3.0.3
