---
http_interactions:
- request:
    method: get
    uri: https://xecdapi.xe.com/v1/convert_from.json?amount=201.52&from=USD&to=PHP,KRW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Basic <auth_header>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - 6ed22934-463c-4ae4-b283-3d7dc16ddf6b
      Last-Modified:
      - Tue, 28 Jun 2016 02:45:16 UTC
      X-Ratelimit-Limit:
      - '900'
      X-Ratelimit-Remaining:
      - '899'
      X-Ratelimit-Reset:
      - '1467081960'
    body:
      encoding: UTF-8
      string: '{"terms":"http://www.xe.com/legal/dfs.php","privacy":"http://www.xe.com/privacy.php","from":"USD","amount":201.52,"timestamp":"2016-06-28T02:45:00Z","to":[{"quotecurrency":"PHP","mid":9509.746599736},{"quotecurrency":"KRW","mid":236656.3353531719}]}'
  recorded_at: Tue, 28 Jun 2016 02:45:40 GMT
recorded_with: VCR 3.0.3
